<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to me</title>
    <script language="JavaScript">
        <!--
        function Direction()
        {
            alert("This is an introduction to ME!")
        }//-->
    </script>
</head>
<body>
<h1>Introduction to Me</h1>
<p>My Name is Zelalem. I am a student in this java web application bootcamp. I will be looking forward to be a java developer soon and work for great companies</p>
<p>the following are some lists of books that i am very much interested to read

<ul>
    <li>War Room </li><a href="https://en.wikipedia.org/wiki/War_Room_(film)">War Room</a>
    <li>A long walk to freedon </li><a href="https://en.wikipedia.org/wiki/Long_Walk_to_Freedom">A Long Walk To Freedom</a>
    <li>Reaching for the Invisible God</li><a href="https://en.wikipedia.org/wiki/Reaching_for_the_Invisible_God">A Long Walk To Freedom</a>

</ul></p>
<h1>My fav places are</h1> 
<ul>
    <li>Miam, FLorida </li><img src="https://media.timeout.com/images/101525355/image.jpg">
    <li>Texas austin </li><img src="https://www.gettyimages.com/photos/austin---texas">

    <body onload="Direction()">
    
    
</ul>
<p></p>
</body>
</html>